<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletApp1</display-name>
    <servlet-name>ServletApp1</servlet-name>
    <servlet-class>org.com.ServletApp1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletApp1</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.com.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>org.com.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VegItem</display-name>
    <servlet-name>VegItem</servlet-name>
    <servlet-class>org.com.result.VegItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VegItem</servlet-name>
    <url-pattern>/VegItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NonVegItem</display-name>
    <servlet-name>NonVegItem</servlet-name>
    <servlet-class>org.com.result.NonVegItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NonVegItem</servlet-name>
    <url-pattern>/NonVegItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseItem</display-name>
    <servlet-name>ChineseItem</servlet-name>
    <servlet-class>org.com.result.ChineseItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseItem</servlet-name>
    <url-pattern>/ChineseItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo1</display-name>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>nov28.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/SessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetail</display-name>
    <servlet-name>ProductDetail</servlet-name>
    <servlet-class>nov28.ProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetail</servlet-name>
    <url-pattern>/ProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieAdd</display-name>
    <servlet-name>CookieAdd</servlet-name>
    <servlet-class>nov28.CookieAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieAdd</servlet-name>
    <url-pattern>/CookieAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieRetrieve</display-name>
    <servlet-name>CookieRetrieve</servlet-name>
    <servlet-class>nov28.CookieRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieRetrieve</servlet-name>
    <url-pattern>/CookieRetrieve</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>NameFilter</display-name>
    <filter-name>NameFilter</filter-name>
    <filter-class>nov28.NameFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NameFilter</filter-name>
    <url-pattern>/NameFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>nov28.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>avc</display-name>
    <filter-name>avc</filter-name>
    <filter-class>nov28.avc</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>avc</filter-name>
    <url-pattern>/avc</url-pattern>
  </filter-mapping>
</web-app>